{% if 愛改資料 %}
	{% if 愛改資料.種類 != '文字' %}
		<p>應該愛揀出文字的資料</p>
		<p>系統揀著{{ 愛改資料.種類 }}的資料</p>
	{% elif 愛改資料.結果%}
		<p>這筆資料有改過矣！！</p>
	{% endif %}
	<table>
		<tr><td>種類</td><td>
		{{ 愛改資料.種類 }}
		</td></tr>
		<tr><td>結果</td><td>
		{{ 愛改資料.結果 }}
		</td></tr>
		<tr><td>種類</td><td>
		{{ 愛改資料.文字.first.種類 }}
		</td></tr>
		<tr><td>腔口</td><td>
		{{ 愛改資料.文字.first.腔口 }}
		</td></tr>
		<tr><td>組合</td><td>
		{{ 愛改資料.文字.first.組合 }}
		</td></tr>
		<tr><td>型體</td><td>
		{{ 愛改資料.文字.first.型體 }}
		</td></tr>
		<tr><td>音標</td><td>
		{{ 愛改資料.文字.first.音標 }}
		</td></tr>
	</table>
{% else %}
	<p>恭喜喲～無資料需要改矣～～</p>
{% endif %}