<!DOCTYPE html>
<html>
<head>
    <title>{% block 標題 %}臺灣言語資料庫校對{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '臺灣言語資料庫校對/版面.css' %}" />
</head>

<body>
    <div id="container">

        <div id="目錄">
        	<table><tr>
        	<td>
				<a href={% url '閩南語狀況' %}>閩南語狀況</a> |
				<a href={% url '最近改的資料' %}>最近改的資料</a> |
			    <a href={% url '改愛改的資料' %}>改愛改的資料</a> |
			    <a href={% url '有問題愛改' %}>有問題愛改</a> 
		    </td>
		    <td>
				<a href={% url '檢查猶未標的資料' %}>檢查猶未標的資料</a> |
				<a href={% url '定教育部辭典做標準' %}>定教育部辭典做標準</a> |
				<a href={% url '國語改免檢查' %}>國語改免檢查</a> |
				<!--
					<a href={% url '揣出一字全羅' %}>拆一字全羅</a> |
				-->
				<a href={% url '自動改有國語語句的資料' %}>改有國語語句的佮臆別的</a> |
				<a href={% url '揣資料庫有的來校對' %}>揣資料庫有的來校對</a> |
				<a href={% url '清掉無愛的資料' %}>清掉無愛的資料</a> |
				<a href={% url '清掉無路用的關係演化' %}>清掉無路用的關係演化</a> |
				<a href={% url '共大寫揣無字的當作外來詞' %}>共大寫當作外來詞</a> |
				<a href={% url '揣上尾一个改的來校對' %}>揣上尾一个改的來校對</a> |
			</td>
			</tr></table>
		</div>

        <div id="內容">
            {% block 內容 %}{% endblock %}
        </div>
    </div>

</body>
</html>