sudo: true
language: python
python:
 - "3.3"
 - "3.4.0"
 - "3.4"
env:
  global:
  matrix:
   - DJANGO=Django==1.7.7
   - DJANGO=Django==1.8.2
install:
 - pip install -r requirements.txt
 - pip install $DJANGO
 - pip install coverage
 - sudo apt-get install libav-tools
branches:
 only:
  - master
script:
 - python manage.py makemigrations
 - rm __init__.py
 - coverage run manage.py test
matrix:
after_success:
  - coverage report
  - pip install --quiet python-coveralls
  - coveralls
