<table>
	{% for 資料 in 全部資料 %}
		<tr>
		<td>{{ 資料.流水號 }}</td>
		<td>{{ 資料.種類 }}</td>
		{% if 資料.文字 %}
			<td>{{ 資料.文字.來源 }}</td>
			<td>{{ 資料.文字.種類 }}</td>
			<td>{{ 資料.文字.腔口 }}</td>
			<td>{{ 資料.文字.地區 }}</td>
			<td>{{ 資料.文字.年代 }}</td>
			<td>{{ 資料.文字.型體 }}</td>
			<td>{{ 資料.文字.音標 }}</td>
			<td>{{ 資料.文字.修改時間|date:"Y-m-d" }}</td>
		{% endif %}
		{% if 資料.關係 %}
			<td>{{ 資料.關係.甲流水號 }}</td>
			<td>{{ 資料.關係.乙流水號 }}</td>
			<td>{{ 資料.關係.乙對甲的資料.關係類型 }}</td>
			<td>{{ 資料.關係.資料.關係性質 }}</td>
			<td>{{ 資料.關係.詞性 }}</td>
			<td>{{ 資料.關係.修改時間|date:"Y-m-d" }}</td>
		{% endif %}
		{% if 資料.演化 %}
			<td>{{ 資料.演化.甲流水號 }}</td>
			<td>{{ 資料.演化.乙流水號 }}</td>
			<td>{{ 資料.演化.乙對甲的資料.演化類型 }}</td>
			<td>{{ 資料.演化.解釋流水號 }}</td>
			<td>{{ 資料.演化.修改時間|date:"Y-m-d" }}</td>
		{% endif %}
		</tr>
	{% endfor %}
</table>